.vs
obj
bin
*.user
/Net2HassMqtt/msbuild.binlog

/SolutionVersioningProject/.git2semver/Git2SemVer.Generated.Properties.g.json
/SolutionVersioningProject/.git2semver/Git2SemVer.VersionProperties.json
